html, body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body:after {
    line-height: 100px; /* height of footer */
    white-space: pre;
    content: "\A";
}
  
footer {  
    position: absolute;
    width: 100%;
    height: 100px; /* height of footer */
    bottom: 0px;
    margin-top: -100px; /* height of footer */
}
footer {
    background-color: transparent;
}

/* Utilizo para toppear el titulo de Busqueda y otros*/
.container-top{
    margin-top:2em; 
}
/* Utilizo para toppear titulos Sendero del navbar, sino se pega*/
.container-sendero{
    margin-top: 50px;
}
/*Clase vinculada al Sticky flotante*/
a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #2A334F url("../imgs/icons/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.titulo{
    font-size: 5em;
}

.medio{
    font-size: 1.3em;
}

.azul{
    color:#00C4FF;
}