body{
	background: url("../imgs/back8-min.jpg") no-repeat center center fixed;
	/*Ajusta mi background a la webpage*/
	/*background-repeat:no-repeat;*/	
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
	/*background-position:;
	Me Scrollea la imagen al desplazarze o en su defecto fixed, fijo
	background-attachment:scroll;*/
	color:white;
}

nav{
	opacity: 0.85;
}
.josefin{
	font-family: 'Josefin Sans', sans-serif;
}
.monserrat{
	font-family: 'Montserrat', sans-serif;
}
.lato{
	font-family: 'Lato', sans-serif;
}

#conten-contenido{
	background-color: black;
	opacity: 0.6;
	
}
#conten-map{
	background-color: black;
	opacity: 0.9;	
}
.mediano{
	font-size: 4.5em;
}
.semi-chica{
	font-size:3em; 
}
.chica{
	font-size: 1.1em;
}
.justificar{
	text-align: justify;
	text-justify: inter-word;
}
.font-blanco{
	color: white;
}
.gris{
	color:silver;
}

.espacio-conten{
	margin-top: 25px;
}
.ancho{
	width: 70%;
}
.quitar-float{
	float:none;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px;

}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.no-lista li{
	margin:0px;
	padding: 0px;
}
.no-lista{
	list-style-type: none;
}

.inline-block{
	float: none;
	display: inline-block;
	padding-left:-4px; 
}
.padding-nav{
	padding-right: 5px;
}

#claridad-footer{
	background-color:black;
	opacity: 0.9;
}
a{
	font-style: italic;
	color:darkgoldenrod;
	text-decoration: none;
}

/* animated (nombre de animacion)*/
/*-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s*/

/* Responsive Map*/
.responsive-map{
	position: relative;
	padding-bottom: 40%;
	padding-top: 30px;
	height: 500px;
	max-width: 90%;
	margin:0 auto 30px;
}

/* Button Custom Circule */
.btn-circle-sm {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}
.padding-btn{
	padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
/* Transparencia de Contenido a la tabla*/
.conten-list{
	background-color:#088da5;
	opacity: 0.7;
	color: black;
}